<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gitText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>207CDE371F24757C00B86D8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>207CDE501F24757D00B86D8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>207CDE5B1F24757D00B86D8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
